{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

    <div>
        <ul id="WebTicker" class="grey lighten-2 hidden">
            {% for cnn, fox in news %}

                <li><a class="light-blue-text text-darken-2 ticker"
                       href="{{ cnn.link }}">CNN: {{ cnn.title | safe }}</a></li>
                <li><a class="red-text text-darken-2 ticker" href="{{ fox.link }}">Fox News: {{ fox.title | safe }}</a>
                </li>
                {#                <li><a class="light-red-text" href="{{fox.link}}">{{fox.title}}</a></li>#}

            {% endfor %}
        </ul>
        <script>
            $("#WebTicker").webTicker({
                startEmpty: false,
                hoverpause: false,
                transition: "ease"
            });

            $("#WebTicker").removeClass("hidden");
        </script>

    </div>
    </div>
    <div class="section">
        <div class="row flex-s">
            <div class="col s12 m3 box-top">

                <div class="icon-block">
                    <h5 class="center light-blue-text text-darken-2"><i class="material-icons medium">sort</i>
                    </h5>
                    <h5 class="center">All Boycotts</h5>
                    <ul class="collection white">
                        <div class="panel-body" style="overflow: auto">
                            <div class="row">
                                <form method="post" action="{% url 'home' %} " class="center">
                                    {% csrf_token %}


                                    {#                                {{ filterForm}}#}
                                    <div class="row">
                                        {% if filterForm.non_field_errors %}
                                            <script>
                                                report_error('{{ filterForm.non_field_errors }}')
                                            </script>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m8 offset-m2 fieldWrapper input-field">
                                            <span class="label slightly-bigger">Sort By Category</span>
                                            {{ filterForm.tag.errors }}
                                            {#                                        <label for="{{ filterForm.message.tag }}">Tag</label>#}
                                            {{ filterForm.tag }}
                                        </div>

                                        <div class="col s12 m12 fieldWrapper input-field">

                                            {#                                        <label for="{{ filterForm.message.sort }}">Sort</label>#}

                                            <div class="radiostuff col s8 offset-s2 left">
                                                <span class="label slightly-bigger">Sorting Order</span>
                                                {{ filterForm.sort }}
                                            </div>
                                            <script>
                                                for (i = 0; i < 3; i++) {
                                                    tomove = $("#id_sort_" + i);
                                                    tomove.parent().addClass('left');
                                                    tomove.parent().parent().prepend(tomove);
                                                }
                                                {#                                                $('label').css('font-size', '1.5rem');#}
{#                                                $(".radiostuff").removeClass("hidden");#}
                                            </script>

                                        </div>
                                    </div>

                                    <button class="btn waves-effect waves-light blue" type="submit" name="action">Sort
                                        Boycotts
                                        <i class="material-icons right">sort</i>
                                    </button>


                                    <input type="hidden" name="next" value="{{ next }}"/>
                                </form>
                            </div>
                            <div class="row">
                                <ul class="collection scroll white">

                                    {% if all_boycotts|length == 0 %}
                                        <li class="collection-item center">
                                            <div>
                                                No Boycotts match this Query!
                                            </div>
                                        </li>

                                    {% else %}

                                        {% for boycott in all_boycotts %}
                                            <li class="collection-item collect all">
                                                <div style="height: 22px;">
                                                    <a href="/boycotted/view/{{ boycott.id }}"
                                                       class="left blue-text text-darken-2">{{ forloop.counter }}. {{ boycott.name | safe }} {{ boycott.location }}</a>
                                                    <a href="/boycotted/view/{{ boycott.id }}#disqus_thread"
                                                       class="secondary-content right blue-text text-darken-2"></a>
                                                    <a href="/boycotted/view/{{ boycott.id }}"
                                                       class="secondary-content right"><i
                                                            class="material-icons blue-text text-darken-2 comment-icon">comment</i>
                                                    </a>
                                                </div>


                                            </li>
                                        {% endfor %}

                                        <script>
                                            var sum = -1;
                                            var actual =0;
                                            var limit = 23;
                                            $('.all:lt(limit)').each(function () {
                                                sum += $(this).height();
                                                sum +=1;
                                                sum+=20;
                                                actual++;
                                                if(actual>limit){
                                                    sum+=5;
                                                }
                                            });
                                            sum = sum+"px";
                                        $(".scroll").css('max-height',sum)
                                        </script>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>

                    </ul>
                </div>


            </div>
            <div class="col s12 m6 box-main">
                {% if not user.is_authenticated %}

                    <div class="section no-pad-bot blue grey lighten-3" id="index-banner">
                        <div class="container">

                            <br><br>
                            {#                            <h1 class="header center orange-text text-darken-2">Welcome to BoycottPal</h1>#}
                            <div class="row center">
                                <img class="responsive-img" src="{% static '/logo.png' %}">
                                <h5 class="header col s12 light left flow-text">A <strong> boycott</strong> is an act of
                                    voluntarily
                                    abstaining from using, buying, or dealing with a person, organization, or country as
                                    an
                                    expression of protest, usually for social or political reasons. The purpose of a
                                    boycott is to
                                    inflict some economic loss on the target, or to indicate a moral outrage, to try to
                                    compel the
                                    target to alter an objectionable behavior.</h5>
                            </div>
                            <div class="row">
                                <div class="col s10 m9 offset-m2 offset-s1">
                                    <div class="row">
                                        <div class="col s12">
                                            <h5 class="header light left reallyleft flow-text">BoycottPal allows you
                                                to:</h5></br>
                                        </div>
                                        <div class="col s12">

                                            <ul>
                                                <li><h6 class="list">&#9733;Track your boycotts</h6></li>
                                                <li><h6 class="list">&#9733;Know the top all-time boycotts</h6></li>
                                                <li><h6 class="list">&#9733;View trending boycotts</h6></li>
                                                <li><h6 class="list">&#9733;Debate and discuss topics</h6></li>
                                                <li><h6 class="list">&#9733;Participate in weekly polls</h6></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row center">
                                <a href="/signup/" id="download-button"
                                   class="btn-large waves-effect waves-light grey darken-2">Sign
                                    Up</a>
                                <a href="/login/" id="download-button"
                                   class="btn-large waves-effect waves-light grey darken-2">Log in</a>
                            </div>
                            <br><br>
                        </div>
                    </div>
                {% else %}

                    <div class="col s12 m10 offset-m1 center">
                        <div class="icon-block">
                            <h5 class="center light-blue-text text-darken-2"><i class="material-icons medium">format_list_bulleted</i>
                            </h5>
                            <h5>My Boycotts</h5>
                            {{ print }}
                            {#                  <div class="collection center">#}
                            <ul class="collection white">
                                {% if my_boycotts|length == 0 %}
                                    <li class="collection-item">
                                        <div>
                                            You have no Boycotts!
                                        </div>
                                    </li>

                                {% else %}


                                    {% for boycott in my_boycotts %}

                                        <li class="collection-item collect">
                                            <div>
                                                <a class="blue-text text-darken-2"
                                                   href="/boycotted/view/{{ boycott.target_id }}">{{ boycott.name | safe }} {{ boycott.location }}</a>- {{ boycott.reason | safe }}<a
                                                    href="/boycott/edit/{{ boycott.id }}"
                                                    class="secondary-content right"><i
                                                    class="material-icons blue-text text-darken-2">edit</i></a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <a href="/boycott/add" class="waves-effect waves-light light-blue btn"><i
                                    class="material-icons left">add</i>Boycott Something!</a>

                        </div>
                    </div>
                {% endif %}

            </div>
            <div class="col s12 m3 box-trending">
                <div class="icon-block">
                    <h5 class="center light-blue-text text-darken-2"><i class="material-icons medium">trending_up</i>
                    </h5>
                    <h5 class="center">Trending Boycotts</h5>
                    <ul class="collection white">

                        {% if trending_boycotts|length == 0 %}
                            <li class="collection-item center">
                                <div>
                                    There are no Trending Boycotts yet!
                                </div>
                            </li>

                        {% else %}

                            {% for boycott in trending_boycotts %}
                                <li class="collection-item collect">
                                    <div style="height: 22px;">
                                        <a href="/boycotted/view/{{ boycott.id }}"
                                           class="left blue-text text-darken-2">{{ forloop.counter }}. {{ boycott.name | safe }} {{ boycott.location }}</a>
                                        <a href="/boycotted/view/{{ boycott.id }}#disqus_thread"
                                           class="secondary-content right blue-text text-darken-2"></a>
                                        <a href="/boycotted/view/{{ boycott.id }}"
                                           class="secondary-content right"><i
                                                class="material-icons blue-text text-darken-2 comment-icon">comment</i>
                                        </a>
                                    </div>


                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

            </div>

        </div>
        {#    #}
        {#        <div class="section">#}
        {##}
        {#        </div>#}
        {#        <div class="row">#}
        {#            <div class="col s12 m6 offset-m3">#}
        {#                <div class="icon-block">#}
        {#                    <h5 class="center light-blue-text text-darken-2"><i class="material-icons medium">sort</i>#}
        {#                    </h5>#}
        {#                    <h5 class="center">All Boycotts</h5>#}
        {#                    <ul class="collection white">#}
        {#                        <div class="panel-body" style="overflow: auto">#}
        {#                            <div class="row">#}
        {#                                <form method="post" action="{% url 'home' %} " class="center">#}
        {#                                    {% csrf_token %}#}
        {##}
        {##}
        {#                                {{ filterForm}}#}
        {#                                    <div class="row">#}
        {#                                        {% if filterForm.non_field_errors %}#}
        {#                                            <script>#}
        {#                                                report_error('{{ filterForm.non_field_errors }}')#}
        {#                                            </script>#}
        {#                                        {% endif %}#}
        {#                                    </div>#}
        {#                                    <div class="row">#}
        {#                                        <div class="col s12 m6 fieldWrapper input-field">#}
        {#                                            <span class="label">Category</span>#}
        {#                                            {{ filterForm.tag.errors }}#}
        {#                                        <label for="{{ filterForm.message.tag }}">Tag</label>#}
        {#                                            {{ filterForm.tag }}#}
        {#                                        </div>#}
        {##}
        {#                                        <div class="col s12 m6 fieldWrapper input-field">#}
        {#                                            <span class="label">Sort</span>#}
        {#                                        <label for="{{ filterForm.message.sort }}">Sort</label>#}
        {##}
        {#                                            <div class="radiostuff">#}
        {#                                                {{ filterForm.sort }}#}
        {#                                            </div>#}
        {#                                            <script>#}
        {#                                                for (i = 0; i < 3; i++) {#}
        {#                                                    tomove = $("#id_sort_" + i);#}
        {#                                                    tomove.parent().parent().prepend(tomove);#}
        {#                                                }#}
        {#                                                $('label').css('font-size', '1.5rem');#}
        {#                                            </script>#}
        {##}
        {#                                        </div>#}
        {#                                    </div>#}
        {##}
        {#                                    <button class="btn waves-effect waves-light blue" type="submit" name="action">Sort#}
        {#                                        Boycotts#}
        {#                                        <i class="material-icons right">sort</i>#}
        {#                                    </button>#}
        {##}
        {##}
        {#                                    <input type="hidden" name="next" value="{{ next }}"/>#}
        {#                                </form>#}
        {#                            </div>#}
        {#                            <div class="row">#}
        {#                                <ul class="collection white">#}
        {##}
        {#                                    {% if all_boycotts|length == 0 %}#}
        {#                                        <li class="collection-item center">#}
        {#                                            <div>#}
        {#                                                No Boycotts match this Query!#}
        {#                                            </div>#}
        {#                                        </li>#}
        {##}
        {#                                    {% else %}#}
        {##}
        {#                                        {% for boycott in all_boycotts %}#}
        {#                                            <li class="collection-item collect">#}
        {#                                                <div style="height: 22px;">#}
        {#                                                    <a href="/boycotted/view/{{ boycott.id }}"#}
        {#                                                       class="left blue-text text-darken-2">{{ forloop.counter }}. {{ boycott.name | safe }} {{ boycott.location }}</a>#}
        {#                                                    <a href="/boycotted/view/{{ boycott.id }}#disqus_thread"#}
        {#                                                       class="secondary-content right blue-text text-darken-2"></a>#}
        {#                                                    <a href="/boycotted/view/{{ boycott.id }}"#}
        {#                                                       class="secondary-content right"><i#}
        {#                                                            class="material-icons blue-text text-darken-2 comment-icon">comment</i>#}
        {#                                                    </a>#}
        {#                                                </div>#}
        {##}
        {##}
        {#                                            </li>#}
        {#                                        {% endfor %}#}
        {#                                    {% endif %}#}
        {#                                </ul>#}
        {#                            </div>#}
        {##}
        {#                        </div>#}
        {##}
        {#                    </ul>#}
        {#                </div>#}
        {##}
        {#            </div>#}
        {#        </div>#}
    </div>


    {#INTRO BLOCK#}



    {% if alert != '' %}
        <script>
            alert = '{{ alert }}';
            if (alert == 'signup') {
                swal("Account Made!", "You've been signed in", "success")
            } else if (alert == 'expired') {
                swal("Your password reset token is invalid.", "It may have expired.", "warning")
            } else if (alert == 'reset') {
                swal("Reset Link Sent!", "A password recovery email has been sent to your email.", "success")
            } else if (alert == 'password') {
                swal("Password changed!", "You have been logged in with your new password", "success")
            } else if (alert == 'email') {
                swal("Email changed!", "Your account's email has been changed", "success")
            } else {

            }
        </script>

    {% endif %}

{% endblock %}

{% block javascript %}
    {#    <script>#}
    {#        $("#WebTicker").webTicker({#}
    {#            startEmpty:false,#}
    {#            hoverpause:false,#}
    {#            transition: "ease"#}
    {#        });#}
    {#    </script>#}

{% endblock %}