{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <div>
        <ul id="WebTicker">
            {% for cnn, fox in news %}

                <li><a class="light-blue-text" href="{{cnn.link}}">{{cnn.title | safe }}</a></li>
                <li><a class="red-text" href="{{fox.link}}">{{fox.title | safe }}</a></li>
{#                <li><a class="light-red-text" href="{{fox.link}}">{{fox.title}}</a></li>#}

            {% endfor %}
        </ul>

    </div>
</div>

        <script>
        $("#WebTicker").webTicker({
            startEmpty:false,
            hoverpause:false,
            transition: "ease"
        });
    </script>



{#INTRO BLOCK#}
    {% if not user.is_authenticated %}

        <div class="section no-pad-bot blue grey lighten-4" id="index-banner">
        <div class="container">

      <br><br>
      <h1 class="header center orange-text">Welcome to BoycottPal</h1>
      <div class="row center">
        <h5 class="header col s12 light left flow-text">A <strong> boycott</strong> is an act of voluntarily abstaining from using, buying, or dealing with a person, organization, or country as an expression of protest, usually for social or political reasons. The purpose of a boycott is to inflict some economic loss on the target, or to indicate a moral outrage, to try to compel the target to alter an objectionable behavior.</h5>
        <h5 class="header col s12 light left flow-text">With Boycott Pal, you can keep track of the people and places you've boycotted, and talk to others who have done the same</h5>
      </div>
      <div class="row center">
        <a href="/signup/" id="download-button" class="btn-large waves-effect waves-light orange">Sign Up</a>
        <a href="/login/" id="download-button" class="btn-large waves-effect waves-light orange">Log in</a>
      </div>
      <br><br>
</div>
  </div>
    {% endif %}
    {% if user.is_authenticated %}
      <div class="section grey lighten-3">
              <div class="container">



          <div class="row">
            <div class="col s12 m8 offset-m2 center">
                <h5>My Boycotts</h5>
{#                  <div class="collection center">#}
                    <ul class="collection">
                      {% for boycott in my_boycotts %}
{#                        <a href="/boycotted/view/{{ boycott.id }}" class="collection-item">{{ boycott.name }} {{ boycott.location }}- {{ boycott.reason }}</a>#}
                        <li class="collection-item"><div><a href="/boycotted/view/{{ boycott.target_id }}">{{ boycott.name }} {{ boycott.location }}</a>- {{ boycott.reason }}<a href="/boycott/edit/{{ boycott.id }}" class="secondary-content right"><i class="material-icons blue-text text-lighten-1">edit</i></a></div></li>
{#                        <li class="collection-item"><div><a href="/boycotted/view/{{ boycott.id }}" class="collection-item">{{ boycott.name }} {{ boycott.location }}- {{ boycott.reason }}</a><a href="google.com" class="secondary-content"><i class="material-icons">edit</i></a></div></li>#}

                      {% endfor %}
{#                  </div>#}
                    </ul>
                <a href="/boycott/add" class="waves-effect waves-light light-blue btn"><i class="material-icons left">add</i>Boycott Something!</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="section">
     <div class="container">

      <div class="row">
        <div class="col s12 m4 offset-m1">
          <div class="icon-block">
            <h5 class="center light-blue-text"><i class="material-icons medium">stars</i></h5>
            <h5 class="center">Top Boycotts</h5>
              <ul class="collection center">
                {% for boycott in top_boycotts %}

                  <li class="collection-item"><div><a href="/boycotted/view/{{ boycott.id }}">{{ forloop.counter }}. {{ boycott.name }} {{ boycott.location }}</a></div></li>

                {% endfor %}
              </ul>
          </div>
        </div>

        <div class="col s12 m4 offset-m2">
          <div class="icon-block">
            <h5 class="center light-blue-text"><i class="material-icons medium">trending_up</i></h5>
            <h5 class="center">Trending Boycotts</h5>
              <ul class="collection center">
                {% for boycott in trending_boycotts %}

                  <li class="collection-item"><div><a href="/boycotted/view/{{ boycott.id }}">{{ forloop.counter }}.{{ boycott.name }} {{ boycott.location }}</a></div></li>

                {% endfor %}
              </ul>
            </div>
        </div>
      </div>

    </div>
  </div>

    {% if alert != '' %}
        <script>
            alert='{{ alert }}';
            if(alert == 'signup'){
                swal("Account Made!", "You've been signed in", "success")
            }else if(alert == 'logout'){
                swal("You've been signed out","", "success")
            }else{

            }
        </script>

    {% endif %}

{% endblock %}

{% block javascript %}
{#    <script>#}
{#        $("#WebTicker").webTicker({#}
{#            startEmpty:false,#}
{#            hoverpause:false,#}
{#            transition: "ease"#}
{#        });#}
{#    </script>#}

{% endblock %}