{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
          <div class="col s12 m6 offset-m3">
              <div class="light-blue lighten-5 card">
                  <div class="card-content black-text center">
                    <span class="card-title">Create a new password for {{ username }}</span>

                    <div class="card-content">

                    <script>
                        function report_error(error) {
                            swal({
                                title: "Error",
                                text: error,
                                type: "error",
                                html: true
                            });
                        }
                    </script>

                        <form method="post" action="{% url 'reset_password' token %} " class="center">
                            {% csrf_token %}


                             {% if password_form.non_field_errors %}
                                    <script>
                                        report_error('{{ password_form.non_field_errors }}')
                                    </script>
                             {% endif %}
                            <div class="fieldWrapper input-field">
                                {{ password_form.password.errors }}
                                <label for="{{ password_form.password.id_for_label }}">New Password</label>
                                {{ password_form.password }}
                            </div>


                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>



{#                            <a href="/register" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Sign Up</a>#}



{#                            <a href="/register">Sign Up</a>#}
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </form>
                    </div>
                  </div>
                </div>
          </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}



{% endblock %}