{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="section"></div>
        <div class="container">
            <div class="row">
              <div class="col s12 m6 offset-m3 center">
                <h1>{{ name }}</h1>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6 offset-m3 center">
                <h3>{{ location }}</h3>
              </div>
            </div>

        </div>
    </div>
    <div class="section">
        <div class="container">
            {% for boycott in boycotts %}
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                      <div class="card blue-grey darken-1">
                        <div class="card-content white-text center">
                          <span class="card-title">{{ boycott.username }} ({{ boycott.date }})</span>
                          <p>{{ boycott.reason }}</p>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {#                        <a href="/boycotted/view/{{ boycott.id }}" class="collection-item">{{ boycott.name }} {{ boycott.location }}- {{ boycott.reason }}</a>#}
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text center">
                      <span class="card-title">Talk about {{ name }} {{ location }}</span>
                        <div id="disqus_thread"></div>
                            <script>

                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                            var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            */
                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = '//boycottpal.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block javascript %}



{% endblock %}